<!DOCTYPE html>
<html>
  <head>
    <title>来抢app</title>
	
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body style="margin: 0 40%;">
   		<div id="invite_barcode">
   			<img src="http://qr.topscan.com/api.php?el=l&w=300&m=10&text=${downloadUrl}"/>
   		</div>
   		<div style="text-align: center;">
   			<a href="${downloadUrl}" style="text-decoration: none;color: red;">下载</a>
   		</div>
  </body>
</html>
