<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<servlet>
		<servlet-name>ServiceAgent</servlet-name>
		<servlet-class>
			org.bjit.serviceadapter.agent.ServiceAgent
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<description>user</description>
			<param-name>user</param-name>
			<param-value>ImageEngine</param-value>
		</init-param>
		<init-param>
			<description>password</description>
			<param-name>password</param-name>
			<param-value>ImageEngine123</param-value>
		</init-param>
		<init-param>
			<param-name>ApplicationName</param-name>
			<param-value>bjmap</param-value>
		</init-param>
		<init-param>
			<param-name>UserInSession</param-name>
			<param-value>username</param-value>
		</init-param>
		<init-param>
			<param-name>Listener</param-name>
			<param-value>
				org.bjit.bjrms.listener.DispatchListener
			</param-value>
		</init-param>
		<init-param>
			<param-name>Directory</param-name>
			<param-value>
				http://172.27.39.35/service/Directory
			</param-value>
		</init-param>
		<init-param>
			<param-name>Multimedia/Search</param-name>
			<param-value>
				http://172.27.39.35/service/Multimedia/Search
			</param-value>
		</init-param>
		<init-param>
			<param-name>Multimedia/data</param-name>
			<param-value>
				http://172.27.39.35/service/Multimedia/data
			</param-value>
		</init-param>
		<init-param>
			<param-name>Multimedia/searchByPoint</param-name>
			<param-value>
				http://172.27.39.35/service/Multimedia/searchByPoint
			</param-value>
		</init-param>
		<init-param>
			<param-name>Multimedia/searchByBox</param-name>
			<param-value>
				http://172.27.39.35/service/Multimedia/searchByBox
			</param-value>
		</init-param>
		<init-param>
			<param-name>AddrCode/cmd</param-name>
			<param-value>
				http://172.27.210.55:9999/service/AddrCode/cmd
			</param-value>
		</init-param>
		<init-param>
			<param-name>abc</param-name>
			<param-value>
				http://172.27.39.35:8812/abc
			</param-value>
		</init-param>
		<init-param>
			<param-name>abrs</param-name>
			<param-value>
				http://172.27.39.35:8812/abrs
			</param-value>
		</init-param>
		<init-param>
			<param-name>EzServer/EzMapAPI</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServer/EzMapAPI
			</param-value>
		</init-param>
		<!-- 历史对比-->
		<init-param>
			<param-name>EzServer_2006/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServer_2006/EzMap
			</param-value>
		</init-param>
		<init-param>
			<description>图片引擎(Vector)</description>
			<param-name>EzServer_2007/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServer_2007/EzMap
			</param-value>
		</init-param>
		<init-param>
			<description>图片引擎(Vector)</description>
			<param-name>EzServerSate_2006/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServerSate_2006/EzMap
			</param-value>
		</init-param>
		<init-param>
			<description>图片引擎(Vector)</description>
			<param-name>EzServerSate_2007/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServerSate_2007/EzMap
			</param-value>
		</init-param>
		<init-param>
			<description>图片引擎(Vector)</description>
			<param-name>EzServerVR_2006/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServerVR_2006/EzMap
			</param-value>
		</init-param>
		<init-param>
			<description>图片引擎(Vector)</description>
			<param-name>EzServerVR_2007/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServerVR_2007/EzMap
			</param-value>
		</init-param>
		<init-param>
			<description>图片引擎(Vector)</description>
			<param-name>EzServer/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServer/EzMap
			</param-value>
		</init-param>
		<init-param>
			<description>图片引擎(Vector)</description>
			<param-name>imageEngine</param-name>
			<param-value>
				http://172.27.39.35:8010/MapAPI/ZCMapFile/zc_sl
			</param-value>
		</init-param>
		<init-param>
			<param-name>EzServer2006/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServer2006/EzMap
			</param-value>
		</init-param>
		<init-param>
			<param-name>EzServerSate/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServerSate/EzMap
			</param-value>
		</init-param>
		<init-param>
			<param-name>EzServerVR/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/ImageEngine/EzServerVR/EzMap
			</param-value>
		</init-param>
		<init-param>
			<param-name>EzServerTRA/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/EzServerTRA/EzMap
			</param-value>
		</init-param>
		<init-param>
			<param-name>EzServer25D/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/EzServer25D/EzMap
			</param-value>
		</init-param>
		<init-param>
			<param-name>EzServerDEM/EzMap</param-name>
			<param-value>
				http://172.27.39.35/service/EzServerDEM/EzMap
			</param-value>
		</init-param>
		<init-param>
			<param-name>GimsManage</param-name>
			<param-value>
				http://172.27.39.35/service/GimsManage
			</param-value>
		</init-param>
		<init-param>
			<param-name>GovEMap/wfs</param-name>
			<param-value>
				http://172.27.39.35/service/GovEMap/wfs
			</param-value>
		</init-param>
		<init-param>
			<param-name>GovEMap/wms</param-name>
			<param-value>
				http://172.27.39.35/service/GovEMap/wms
			</param-value>
		</init-param>
		<init-param>
			<param-name>Gsketch</param-name>
			<param-value>
				http://172.27.39.35/service/Gsketch
			</param-value>
		</init-param>
		<init-param>
			<param-name>SpatialSearch</param-name>
			<param-value>
				http://172.27.39.35/service/SpaceSearch
			</param-value>
		</init-param>
		<init-param>
			<param-name>Navigation</param-name>
			<param-value>
				http://172.27.39.35/service/NavigationService
			</param-value>
		</init-param>
		<init-param>
			<param-name>WholeSearch</param-name>
			<param-value>
				http://172.27.39.35/service/WholeSearch
			</param-value>
		</init-param>
		<init-param>
			<param-name>RSImage/wms</param-name>
			<param-value>
				http://172.27.39.35/service/RSImage/wms
			</param-value>
		</init-param>
		<init-param>
			<param-name>SymbolLib</param-name>
			<param-value>
				http://172.27.39.35/service/SymbolLib
			</param-value>
		</init-param>
		<init-param>
			<param-name>BuildingHeight</param-name>
			<param-value>
				http://172.27.39.35/service/BuildingHeight25
			</param-value>
		</init-param>
		<init-param>
			<param-name>DEMAnalysis</param-name>
			<param-value>
				http://172.27.39.35/service/DEMAnalysis
			</param-value>
		</init-param>
		<init-param>
			<param-name>AddrAutoComplete</param-name>
			<param-value>
				http://172.27.39.35/AddrQuickMatchService/Service.asmx/MatchAddr
			</param-value>
		</init-param>
 	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/Directory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/HistoryDirectory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/RSImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/WFS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/BufferWFS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/WMS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/HistoryWFS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/HistoryBufferWFS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/HistoryWMS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/Multimedia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/AddrCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/abc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/abrs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/Navigation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/WholeSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/ThemePic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/EzServer/EzMapAPI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/EzServer/EzMap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/imageEngine</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/EzServerSate/EzMap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/EzServerVR/EzMap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/SpatialSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/DemAnalyse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/GimsManage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/GSketch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceAgent</servlet-name>
		<url-pattern>/SymbolLib</url-pattern>
	</servlet-mapping>
</web-app>
